<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row gx-3 gy-3">
    <!-- UDP PORT -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_CONFIGURATION.UDP_PORT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('udpPort') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="udpPort">
      </mat-form-field>
    </div>

    <!-- TCP PORT -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_CONFIGURATION.TCP_PORT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('tcpPort') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="tcpPort">
      </mat-form-field>
    </div>

    <!-- MAX CONNECTIONS -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_CONFIGURATION.MAX_CONNECTIONS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('maxConnections') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="maxConnections">
      </mat-form-field>
    </div>

    <!-- LAN DISCOVERY -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_CONFIGURATION.LAN_DISCOVERY | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('lanDiscovery') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="lanDiscovery">
          <mat-option *ngFor="let opt of options" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- REGISTER TO LOBBY -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_CONFIGURATION.REGISTER_TO_LOBBY | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('registerToLobby') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="registerToLobby">
          <mat-option *ngFor="let opt of options" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- PUBLIC IP -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_CONFIGURATION.PUBLIC_IP | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('publicIP') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" formControlName="publicIP" placeholder="93.184.216.34">
      </mat-form-field>
    </div>

    <!-- CONFIG VERSION -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_CONFIGURATION.CONFIG_VERSION | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('configVersion') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="configVersion">
      </mat-form-field>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    <mat-icon>download</mat-icon>
    {{ I18N_KEYS.LABEL.BUTTON.DOWNLOAD | translate }}
  </button>
</form>
