<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row gx-3 gy-3">

    <!-- TRACK -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.TRACK | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('track') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="track">
          <mat-option *ngFor="let t of trackOptions" [value]="t.value">
            {{ t.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- PRE RACE WAITING TIME -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.PRE_RACE_WAITING_TIME_SECONDS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('preRaceWaitingTimeSeconds') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="preRaceWaitingTimeSeconds">
      </mat-form-field>
    </div>

    <!-- SESSION OVER TIME -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.SESSION_OVER_TIME_SECONDS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('sessionOverTimeSeconds') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="sessionOverTimeSeconds">
      </mat-form-field>
    </div>

    <!-- AMBIENT TEMP -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.AMBIENT_TEMP | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('ambientTemp') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="ambientTemp">
      </mat-form-field>
    </div>

    <!-- CLOUD LEVEL -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.CLOUD_LEVEL | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('cloudLevel') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="cloudLevel">
      </mat-form-field>
    </div>

    <!-- RAIN -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.RAIN | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('rain') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="rain">
      </mat-form-field>
    </div>

    <!-- WEATHER RANDOMNESS -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.WEATHER_RANDOMNESS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('weatherRandomness') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="weatherRandomness">
      </mat-form-field>
    </div>

    <!-- CONFIG VERSION -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.CONFIG_VERSION | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('configVersion') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" formControlName="configVersion">
      </mat-form-field>
    </div>

    <!-- POST QUALY -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.POST_QUALY_SECONDS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('postQualySeconds') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="postQualySeconds">
      </mat-form-field>
    </div>

    <!-- POST RACE -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_CONFIG.POST_RACE_SECONDS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('postRaceSeconds') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="postRaceSeconds">
      </mat-form-field>
    </div>

  </div>

  <!-- SESSIONS -->
  <div formArrayName="sessions">
    <div *ngFor="let session of sessions.controls; let i = index" [formGroupName]="i">

      <div class="mb-4">
        <h4>
          {{ I18N_KEYS.LABEL.SESSION | translate }} {{ i + 1 }}
          <button mat-icon-button type="button" (click)="removeSession(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </h4>
      </div>

      <div class="row gx-3">

        <div class="col-lg-2 col-md-4 col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ I18N_KEYS.LABEL.EVENT_SESSION.HOUR_OF_DAY | translate }}</mat-label>
            <mat-error *ngIf="getI18nKeyErrorMessage('hourOfDay') as error">
              {{ error.key | translate:error.params }}
            </mat-error>
            <input matInput type="text" inputmode="numeric" formControlName="hourOfDay">
          </mat-form-field>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ I18N_KEYS.LABEL.EVENT_SESSION.DAY_OF_WEEKEND | translate }}</mat-label>
            <mat-error *ngIf="getI18nKeyErrorMessage('dayOfWeekend') as error">
              {{ error.key | translate:error.params }}
            </mat-error>
            <input matInput type="text" inputmode="numeric" formControlName="dayOfWeekend">
          </mat-form-field>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ I18N_KEYS.LABEL.EVENT_SESSION.TIME_MULTIPLIER | translate }}</mat-label>
            <mat-error *ngIf="getI18nKeyErrorMessage('timeMultiplier') as error">
              {{ error.key | translate:error.params }}
            </mat-error>
            <input matInput type="text" inputmode="numeric" formControlName="timeMultiplier">
          </mat-form-field>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ I18N_KEYS.LABEL.EVENT_SESSION.SESSION_TYPE | translate }}</mat-label>
            <mat-error *ngIf="getI18nKeyErrorMessage('sessionType') as error">
              {{ error.key | translate:error.params }}
            </mat-error>
            <mat-select formControlName="sessionType">
              <mat-option *ngFor="let s of sessionTypesOptions" [value]="s.value">
                {{ s.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ I18N_KEYS.LABEL.EVENT_SESSION.SESSION_DURATION_MINUTES | translate }}</mat-label>
            <mat-error *ngIf="getI18nKeyErrorMessage('sessionDurationMinutes') as error">
              {{ error.key | translate:error.params }}
            </mat-error>
            <input matInput type="text" inputmode="numeric" formControlName="sessionDurationMinutes">
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" type="button" (click)="addSession()">
    <mat-icon>add</mat-icon>
    {{ I18N_KEYS.LABEL.BUTTON.ADD_SESSION | translate }}
  </button>

  <!-- SUBMIT -->
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    <mat-icon>download</mat-icon>
    {{ I18N_KEYS.LABEL.BUTTON.DOWNLOAD | translate }}
  </button>

</form>
