<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row gx-3 gy-3">

    <!-- QUALIFY STANDING TYPE -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.QUALIFY_STANDING_TYPE | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('qualifyStandingType') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="qualifyStandingType">
      </mat-form-field>
    </div>

    <!-- PIT WINDOW LENGTH SEC -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.PIT_WINDOW_LENGTH_SEC | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('pitWindowLengthSec') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="pitWindowLengthSec">
      </mat-form-field>
    </div>

    <!-- DRIVER STINT TIME SEC -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.DRIVER_STINT_TIME_SEC | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('driverStintTimeSec') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="driverStintTimeSec">
      </mat-form-field>
    </div>

    <!-- MANDATORY PITSTOP COUNT -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.MANDATORY_PITSTOP_COUNT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('mandatoryPitstopCount') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="mandatoryPitstopCount">
      </mat-form-field>
    </div>

    <!-- MAX TOTAL DRIVING TIME -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.MAX_TOTAL_DRIVING_TIME | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('maxTotalDrivingTime') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="maxTotalDrivingTime">
      </mat-form-field>
    </div>

    <!-- MAX DRIVERS COUNT -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.MAX_DRIVERS_COUNT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('maxDriversCount') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="maxDriversCount">
      </mat-form-field>
    </div>

    <!-- IS REFUELLING ALLOWED IN RACE -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.IS_REFUELLING_ALLOWED_IN_RACE | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('isRefuellingAllowedInRace') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="isRefuellingAllowedInRace">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- IS REFUELLING TIME FIXED -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.IS_REFUELLING_TIME_FIXED | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('isRefuellingTimeFixed') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="isRefuellingTimeFixed">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- IS MANDATORY PITSTOP REFUELLING REQUIRED -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.IS_MANDATORY_PITSTOP_REFUELLING_REQUIRED | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('isMandatoryPitstopRefuellingRequired') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="isMandatoryPitstopRefuellingRequired">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- IS MANDATORY PITSTOP TYRE CHANGE REQUIRED -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.IS_MANDATORY_PITSTOP_TYRE_CHANGE_REQUIRED | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('isMandatoryPitstopTyreChangeRequired') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="isMandatoryPitstopTyreChangeRequired">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- IS MANDATORY PITSTOP SWAP DRIVER REQUIRED -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.IS_MANDATORY_PITSTOP_SWAP_DRIVER_REQUIRED | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('isMandatoryPitstopSwapDriverRequired') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="isMandatoryPitstopSwapDriverRequired">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- TYRE SET COUNT -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.EVENT_RULES.TYRE_SET_COUNT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('tyreSetCount') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="tyreSetCount">
      </mat-form-field>
    </div>

  </div>

  <!-- SUBMIT -->
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    <mat-icon>download</mat-icon>
    {{ I18N_KEYS.LABEL.BUTTON.DOWNLOAD | translate }}
  </button>

</form>
