<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row gx-3 gy-3">

    <!-- Stability Control Level Max -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>
          {{ I18N_KEYS.LABEL.ASSIST_RULES.STABILITY_CONTROL_LEVEL_MAX | translate }}
        </mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('stabilityControlLevelMax') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="stabilityControlLevelMax">
      </mat-form-field>
    </div>

    <!-- DISABLE AUTOSTEER -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_AUTOSTEER | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableAutosteer') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableAutosteer">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DISABLE AUTO LIGHTS -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_AUTO_LIGHTS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableAutoLights') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableAutoLights">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DISABLE AUTO WIPER -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_AUTO_WIPER | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableAutoWiper') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableAutoWiper">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DISABLE AUTO ENGINE START -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_AUTO_ENGINE_START | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableAutoEngineStart') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableAutoEngineStart">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DISABLE AUTO PIT LIMITER -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_AUTO_PIT_LIMITER | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableAutoPitLimiter') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableAutoPitLimiter">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DISABLE AUTO GEAR -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_AUTO_GEAR | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableAutoGear') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableAutoGear">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DISABLE AUTO CLUTCH -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_AUTO_CLUTCH | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableAutoClutch') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableAutoClutch">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DISABLE IDEAL LINE -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ASSIST_RULES.DISABLE_IDEAL_LINE | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('disableIdealLine') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="disableIdealLine">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <!-- SUBMIT -->
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    <mat-icon>download</mat-icon>
    {{ I18N_KEYS.LABEL.BUTTON.DOWNLOAD | translate }}
  </button>

</form>
