<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row gx-3 gy-3">

    <!-- SERVER NAME -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.SERVER_NAME | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('serverName') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" formControlName="serverName">
      </mat-form-field>
    </div>

    <!-- ADMIN PASSWORD -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.ADMIN_PASSWORD | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('adminPassword') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="password" formControlName="adminPassword">
      </mat-form-field>
    </div>

    <!-- CAR GROUP -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.CAR_GROUP | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('carGroup') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="carGroup">
          <mat-option *ngFor="let cg of carGroupOptions" [value]="cg.value">
            {{ cg.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- TRACK MEDALS REQUIREMENT -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.TRACK_MEDALS_REQUIREMENT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('trackMedalsRequirement') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="trackMedalsRequirement">
          <mat-option *ngFor="let t of trackMedalReqOptions" [value]="t.value">
            {{ t.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- SAFETY RATING -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.SAFETY_RATING_REQUIREMENT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('safetyRatingRequirement') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="safetyRatingRequirement">
      </mat-form-field>
    </div>

    <!-- RACECRAFT RATING -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.RACECRAFT_RATING_REQUIREMENT | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('racecraftRatingRequirement') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="racecraftRatingRequirement">
      </mat-form-field>
    </div>

    <!-- PASSWORD -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.PASSWORD | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('password') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" formControlName="password">
      </mat-form-field>
    </div>

    <!-- SPECTATOR PASSWORD -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.SPECTATOR_PASSWORD | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('spectatorPassword') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" formControlName="spectatorPassword">
      </mat-form-field>
    </div>

    <!-- MAX CAR SLOTS -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.MAX_CAR_SLOTS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('maxCarSlots') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" inputmode="numeric" formControlName="maxCarSlots">
      </mat-form-field>
    </div>

    <!-- DUMP LEADERBOARDS -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.DUMP_LEADERBOARDS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('dumpLeaderboards') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="dumpLeaderboards">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- IS RACE LOCKED -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.IS_RACE_LOCKED | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('isRaceLocked') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="isRaceLocked">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- RANDOMIZE TRACK WHEN EMPTY -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.RANDOMIZE_TRACK_WHEN_EMPTY | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('randomizeTrackWhenEmpty') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="randomizeTrackWhenEmpty">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- ALLOW AUTO DQ -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.ALLOW_AUTO_DQ | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('allowAutoDQ') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="allowAutoDQ">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- SHORT FORMATION LAP -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.SHORT_FORMATION_LAP | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('shortFormationLap') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="shortFormationLap">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- DUMP ENTRY LIST -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.DUMP_ENTRY_LIST | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('dumpEntryList') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="dumpEntryList">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- FORMATION LAP TYPE -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.FORMATION_LAP_TYPE | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('formationLapType') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="formationLapType">
          <mat-option *ngFor="let fl of formationLapOptions" [value]="fl.value">
            {{ fl.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- CENTRAL ENTRY LIST PATH -->
    <div class="col-lg-4 col-md-8 col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.CENTRAL_ENTRY_LIST_PATH | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('centralEntryListPath') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <input matInput type="text" formControlName="centralEntryListPath" placeholder="C:\ACC\server\entrylist.json">
      </mat-form-field>
    </div>

    <!-- IGNORE PREMATURE DISCONNECTS -->
    <div class="col-lg-2 col-md-4 col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ I18N_KEYS.LABEL.ACC_SETTINGS.IGNORE_PREMATURE_DISCONNECTS | translate }}</mat-label>
        <mat-error *ngIf="getI18nKeyErrorMessage('ignorePrematureDisconnects') as error">
          {{ error.key | translate:error.params }}
        </mat-error>
        <mat-select formControlName="ignorePrematureDisconnects">
          <mat-option *ngFor="let opt of yesNoOptions" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <!-- SUBMIT -->
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    <mat-icon>download</mat-icon>
    {{ I18N_KEYS.LABEL.BUTTON.DOWNLOAD | translate }}
  </button>

</form>
